@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

::-webkit-scrollbar {
    display: none;
}

body{
/*    background-color: #F0F0F0;*/
    
}

.box{
/*width: 7500px; */
    
}
.timelinecontainer {
    display: flex;
    flex-direction: row;
    margin: 0 0rem;
    z-index: 0;
    background-color: none;
    overflow-x:scroll;
    height:50vh;
    overflow-y: hidden;
    width:auto;
}

.years {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    margin: 0 0rem;
    background-color: none;
    height: 50vh;

}

.yeartextcolumn {
    border-right: 2px solid;
    border-color: black;
    margin-right: 10px;
    width: 65px;
}

.yeartextbox {
}

.yeartextbox h3 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    margin: 0;
    margin-right: 5px;
    font-weight: 700;
    font-size: 44px;
    font-family: 'Amatic SC', cursive;
}

.demandboxcontainer {
    display: flex;
    flex-direction: row;
}

.demandbox {
    width: 225px;
    padding-left: 10px;
/*    border-left: .5px dashed;*/
    overflow-x: hidden;
    overflow-y: scroll;

}

.documenttitlebox {
    padding: 0;
    width: 80%;
    height: 150px;
    overflow-x: hidden
}

.documenttitlebox h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
}

.demandpagescontainer{
  display: flex;
  flex-wrap: wrap;
   width: 90%;
    overflow-y: scroll;
}

.demandlinescontainer{
    width: 24%;
/*    background-color:antiquewhite;*/
    display: flex;
    flex-direction: column;
    text-align:center;
    overflow-y: scroll;
    border: .01px solid;
/*    border-color: black;*/
    border-radius: 2.5px;
    padding: 5px;
    padding-bottom: 3px;
    margin: 5px;
}

.demandlines {
   position: relative;
   left:2.5%;
   width: 95%;
   height: 3px;
   background-color: #ebecf0;
   margin-bottom: 1px;
   border-radius: 2px;
/*   border: .001px solid;*/
   border-color: none;
}

/* Timeline */

#timeline {
    height: 5px;
    border-radius: 10px;
    background-color: black;

    
}

/* Events Container */
.eventscontainer{
    height: 45vh;
    
}







