@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Teko:wght@300;400;500;600;700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


body {
    /*    background-color: #FEFFFF;*/



}</div> pi

.site {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container-fluid {
    padding: 0;
    margin: 0;
    height: 100vh;
    

}



/*Sidebar*/
.sidebar {
    /*
    background-image:
        linear-gradient(rgba(95, 117, 142, .94),
            rgba(95, 117, 142, .94)),
        url("../../pics/paint.jpg");
*/
    background-image:
        linear-gradient(rgba(90, 111, 135, .94),
            rgba(90, 111, 135, .94)),
        url("../pics/paint.jpg");
margin:0;
   position:relative;
    padding: 0;
    padding-top: 20px;
/*    height: 100vh;*/
    overflow-y: scroll;
    min-width: 275px;
    overflow-x: hidden;
}

.sidebar h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    opacity: .9;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    /*    padding-left: 10px;*/
    margin-bottom: 0px;

}

.sidebar hr {
    margin-top: .25rem;
    margin-bottom: .5rem;
    border-color: white;
    margin-left: 20px;
    margin-right: 20px;
    opacity: .9;

}

.sidebar h3 {
    text-align: center;
    font-size: 16px;
    color: white;
    opacity: .9;
    font-weight: 300;
    /*    padding-left: 10px;*/
    /*    padding-right: 10px;*/
    /*       font-family: 'Amatic SC', cursive;*/
    font-family: 'Yantramanav', sans-serif;
    margin-top: 0;
    margin-bottom: 25px;
}

.sidebartext {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebartext h4 {
    text-align: left;
    font-size: 25px;
    color: white;
    opacity: .85;
    font-weight: 300;
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;

}

.tagfilter {
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    height: auto;

}

.sidebar .form-control {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, .97);
    font-family: 'Yantramanav', sans-serif;
}

.tagoption {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Yantramanav', sans-serif;
}

.yearjumpselect {
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    height: auto;

}



.tagfilter {
    margin-top: 20px;
}

.sidebartext strong {
    font-weight: 700;
}

.sidebardef p {
    text-align: left;

    /*    display:inline;*/
    font-size: 16px;
    color: white;
    opacity: .85;
    font-weight: 300;
    /*    padding-left: 10px;*/
    /*    padding-right: 10px;*/
    /*       font-family: 'Amatic SC', cursive;*/
    font-family: 'Yantramanav', sans-serif;
    line-height: 1em;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebardef sup {

    font-size: 10px;
}

a {
    color: #fcf5e3;
}

a:hover {
    color: white;
}

.demandlinescontainerexample {
    position: inline;
    /*    text-align: center;*/
    width: 60px;
    /*    width: 22%;*/
    /*        background-color:antiquewhite;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    border: .01px solid;
    border-color: rgba(250, 250, 250, .9);
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 3.5px;
    left: 50%;
    /*    transform: translate(-50%, 0%);*/

}

.demandlinesex {
    position: relative;
    left: 2.5%;
    width: 95%;
    height: 4px;
    /*    background-color: #ebecf0;*/
    /*    background-image:       url("pics/paint.jpg"); */
    background-color: #E0E1E1;
    margin-bottom: 1px;
    border-radius: 2px;
    /*   border: .001px solid;*/
    border-color: none;

}

.inlinetext {
    position: inline;

}

.annotation {
    position: inline;
    margin: 0;
    /*    display:inline;*/
    font-size: 60px;
    color: white;
    opacity: .85;
    font-weight: 300;
    /*    padding-left: 10px;*/
    /*    padding-right: 10px;*/
    font-family: 'Amatic SC', cursive;
    line-height: 1em;
    opacity: .8;
    padding-left: 2px;
}


.annotationtext {
    text-align: left;

    /*    display:inline;*/
    font-size: 16px;
    color: white;
    opacity: .85;
    font-weight: 300;
    /*    padding-left: 10px;*/
    /*    padding-right: 10px;*/
    /*       font-family: 'Amatic SC', cursive;*/
    font-family: 'Yantramanav', sans-serif;
    line-height: 1em;
    transform: translate(0%, 25%);
    vertical-align: middle;
    width: 70%;
    padding-right: 5px;
    margin: 0;


}

.demandexamplecontainer {
    position: absolute;
    /*    padding-left: 10px;*/
    /*    padding-right: 10px;*/
    left: 40%;
    transform: translate(-20%, 0);
    /*    margin-bottom: 10px;*/
}

.relativecontainer {
    position: relative;
    padding-bottom: 62px;
    overflow-x: hidden;
    /*    width: 240px;*/
    overflow-y: hidden;

}

.sidebarspacer {
        min-width: 275px;
    padding:0;
    margin: 0;
    height: 0;
}

/*Overall Project*/
.project {
    padding: 0;
    margin: 0;
    max-width: 100%;
  overflow-x:scroll;
}

@media screen and (min-width: 768px) {
    .project {
        max-width: calc(100% - 275px); 
    }
    .sidebar {
      position: fixed;
        height: 100vh;
    }
}


.timelinecontainer {
    /*    display: flex;*/
    display: inline-block;

    /*    flex-direction: row;*/
    margin: 0 0rem;
    z-index: 0;
    background-color: none;
    /*    overflow-x: scroll;*/
    /*    height: 50vh;*/
    overflow-y: hidden;
/*    width: auto;*/
}

.years {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    margin: 0 0rem;
    background-color: none;
    height: 60vh;

}

.yeartextcolumn {
    border-right: 2px solid;
    border-color: black;
    /*    margin-right: 10px;*/
    width: 60px;
    padding: 0;
}


.yeartextbox h3 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    margin: 0;
    margin-right: 5px;
    font-weight: 700;
    font-size: 48px;
    font-family: 'Amatic SC', cursive;
    /*    font-family: 'Yantramanav', sans-serif;*/

}

.demandboxcontainer {
    display: flex;
    flex-direction: row;
}

.demandbox {
    width: 325px;
    padding-left: 10px;
    /*    border-left: .5px dashed;*/
    overflow-x: hidden;
    /*    overflow-y: scroll;*/
    position: relative;
}

.secondbox {
    border-left: .5px dashed;
    padding-left: 20px;
}

.demandbox i {
    position: absolute;
    top: .75%;
    left: 91%;
}

i.fas {

    color: rgba(90, 111, 135, .94);
}

.documenttitlebox {
    padding: 0;
    width: 90%;
    height: 150px;
    overflow-x: hidden
}

.documenttitlebox h3 {
    font-size: 23px;
    margin: 0;
    font-weight: 600;
    font-family: 'Yantramanav', sans-serif;
}


 hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
}


.documenttitlebox h4 {
    font-size: 15px;
    margin: 0;
    font-weight: 300;
    font-family: 'Yantramanav', sans-serif;
}


.demandpagescontainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.demandlinescontainer {
    width: 22%;
    /*        background-color:antiquewhite;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    border: .01px solid;
    /*    border-color: black;*/
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 3.5px;
    margin: 5px;
}

.demandlines {
    position: relative;
    left: 2.5%;
    width: 95%;
    height: 4px;
    /*    background-color: #ebecf0;*/
    /*    background-image:       url("pics/paint.jpg"); */
    background-color: #E0E1E1;
    margin-bottom: 1px;
    border-radius: 2px;
    /*   border: .001px solid;*/
    border-color: none;
}

/* Timeline */

#timeline {
    height: 5px;
    border-radius: 10px;
    background-color: black;


}

/* Events Container */
.eventscontainer {
    height: calc(40vh);

}


/*Interaciton Functions*/
#tooltip {
    position: absolute;
    top: 2.5%;
    left: 60%;
    /*  max-height: 100px;*/
    overflow-y: scroll;
    visibility: hidden;
    font-size: 16px;
    /*    background-color: #d6ecef;*/
    background-color: #fcf5e3;
    padding: 10px;
    box-shadow: 1px 1px 1px #cccccc;
    border-radius: 3px;
    text-align: left;
    opacity: 0.9;
    border-radius: 7.5px;
    z-index: 1000;
    transform: translate(-50%, 0%);
}

#demandtext {
    font-size: 17px;
    font-weight: 300;
    font-family: 'Yantramanav', sans-serif;

}


.form-group {
    margin-top: 0;
}


#demandtags {
    font-weight: 600;
}

.box {
        background-image:
        linear-gradient(rgba(255, 255, 255, .9),
            rgba(255, 255, 255, .9)),
        url("../pics/paint.jpg");
}
