@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Teko:wght@300;400;500;600;700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


.container-fluid {
    padding: 0;
    margin: 0;
    height: 100vh;
}

/*Nav Bar Options*/
nav {
    z-index: 10;

}

.form-control {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, .97);
    font-family: 'Yantramanav', sans-serif;
    border-color: rgba(255, 255, 255, 0)
}

.form-group {
    margin-top: 0;
}

.tagfilter {
    /*    position: absolute;*/
    /*    margin-top: 20px;*/
    /*    margin-left: 10px;*/
    /*    margin-right: 10px;*/
    padding: 0px;
    margin: 0px;
    width: 15%;
    height: 40px;
    /*    transform: translate(0, 50%);*/
}

.tagoption {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Yantramanav', sans-serif;
    font-size: 10px;
}

.yearjump {
    padding: 0px;
    margin: 0px;
    width: auto;
    height: 40px;
}

@media screen and (max-width: 350px) {

    .tagfilter {
    /*    position: absolute;*/
    /*    margin-top: 20px;*/
    /*    margin-left: 10px;*/
    /*    margin-right: 10px;*/
    padding: 0px;
    margin: 0px;
/*    width: 90%;*/
    height: 40px;
    /*    transform: translate(0, 50%);*/
}
    
    .yearjump {
/*    width: 90%;*/

    }
    
    .font2 {
        
    font-size:10px;
    }

}









/*Overall Project*/
.project {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.box {
    background-image:
        linear-gradient(rgba(255, 255, 255, .97),
            rgba(255, 255, 255, .97)),
        url("../pics/paint.jpg");
/*    position:relative;*/
}


.timelinecontainer {
    margin: 0 0rem;
    z-index: 0;
    background-color: none;
    /*    height: 50vh;*/
    overflow-y: hidden;
}

.years {
    padding-top: 20px;
    margin: 0 0rem;
    background-color: none;
    height: 55vh;
}

.yeartextcolumn {
    border-right: 2px solid;
    border-color: black;
    width: 60px;
    padding: 0;
}

.yeartextbox h3 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    margin: 0;
    margin-right: 5px;
    font-weight: 700;
    font-size: 48px;
    font-family: 'Amatic SC', cursive;
}

.demandboxcontainer {
    display: flex;
    flex-direction: row;
}

.demandbox {
    width: 325px;
    padding-left: 15px;
    overflow-x: hidden;
    position: relative;
    /*    height: 60vh;*/

}

.secondbox {
    border-left: .5px dashed;
    padding-left: 20px;
}

.demandbox i {
    position: absolute;
    top: .75%;
    left: 91%;
}

i.fas {
    color: rgba(90, 111, 135, .94);
}

.documenttitlebox {
    padding: 0;
    width: 90%;
    height: 150px;
    overflow-x: hidden
}

.documenttitlebox h3 {
    font-size: 23px;
    margin: 0;
    font-weight: 600;
    font-family: 'Yantramanav', sans-serif;
}

.documenttitlebox hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
}


.documenttitlebox h4 {
    font-size: 15px;
    margin: 0;
    font-weight: 300;
    font-family: 'Yantramanav', sans-serif;
}


.demandpagescontainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.demandlinescontainer {
    width: 22%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: .01px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 3.5px;
    margin: 5px;
}

.demandlines {
    position: relative;
    left: 2.5%;
    width: 95%;
    height: 4px;
    background-color: #E0E1E1;
    margin-bottom: 1px;
    border-radius: 2px;
    /*   border: .001px solid;*/
    border-color: none;
}

/* Events Container */
.eventscontainer {
    height: calc(45vh - 44px);
    position: relative;
    z-index: 100;


}


/* Timeline */

#timeline {
    position: absolute;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    bottom: 0;
    transform: translate(0, 50%);

}

.timepoints {
    position: absolute;
    padding: 6px;
    background-color: black;
    border: solid 2px rgba(255, 255, 255, .97);
    /*    left: 20px;*/


}

.timepointer {
    position: absolute;
    background-color: black;
    padding: 1px;
    /*   height:  100px;*/

}

.eventtext {
    position: absolute;
    text-align: justify;
    color: black;
    font-family: 'Yantramanav', sans-serif;
    font-size: 5px;
    max-width: 100px;
    opacity: .5;
    transform: translate(-50%, -5px);
    transition: 0.1s;
}

.eventtext:hover {
    /*    position: fixed;*/
    font-size: 20px;
    max-width: 400px;
    z-index: 5000;
    opacity: 0;
    transform: translate(-50%, -5px);
}

@media screen and (max-width: 576px) {

    .eventtext:hover {
        left: 50vw;
        font-size: 20px;
        max-width: 90vw;
        z-index: 5000;
        opacity: 0;
        transform: translate(-50%, -5px);
        overflow: scroll;
    }

}


/*Interaction Functions*/
#tooltip {
    position: fixed;
    top: 50px;
    left: 50%;
    /*  max-height: 100px;*/
    overflow-y: scroll;
    visibility: hidden;
    font-size: 16px;
    /*    background-color: #d6ecef;*/
    background-color: #fcf5e3;
    padding: 10px;
    box-shadow: 1px 1px 1px #cccccc;
    border-radius: 3px;
    text-align: justify;
    opacity: 0.9;
    border-radius: 7.5px;
    z-index: 1000;
    transform: translate(-50%, 0%);
}

#demandtext {

    font-size: 17px;
    font-weight: 300;
    font-family: 'Yantramanav', sans-serif;

}

#demandtags {
    font-weight: 600;
}


#eventtooltip {
    position: absolute;
    top: 45px;
        left: 50vw;
    width: 500px;
    /*  max-height: 100px;*/
    overflow-y: scroll;
    visibility: hidden;
    font-size: 20px;
/*
    background-image:
        linear-gradient(rgba(255, 255, 255, .4),
            rgba(255, 255, 255, .8));
*/
        /*    background-color: #fcf5e3;*/
        padding: 10px;
    /*    box-shadow: 1px 1px 1px #cccccc;*/
    /*    border-radius: 3px;*/
    text-align: justify;
    opacity: 0.9;
        border-radius: 7.5px;
    z-index: 1000;
/*  transform: translate(-50%, 0%);*/
}

@media screen and (max-width: 505px) {
#eventtooltip {
    width: 350px;

    } 
}





/*Forward/ Backward buttons */
#button-group {
    position: fixed;
    right: calc(0vw + 10px);
    top: 50px;
    z-index: 1000;
}

.btn-outline-secondary {
    width: 40px;
}

/*Instructions Pane*/
.instructions {
    position:fixed;
     background:
           linear-gradient(rgba(90, 111, 135, .97),
          rgba(90, 111, 135, .97)),
                url("../pics/paint.jpg");
    height: 90vh;
    z-index: 2000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;   
    overflow-y: scroll;
    visibility:hidden;
    text-align: center;
    padding: 20px;
}

.instructions h1{   
 color: rgba(255, 255, 255, .97);
}

.instructions p{
    text-align:justify;
      font-family: 'Yantramanav', sans-serif;
   font-size: 20px;  
    color: rgba(255, 255, 255, .97);
}

.open {
  visibility: visible;
}

.demandexamplecontainer {
    width: 100%;
  height: 60px;
    margin: 0px;
    margin-bottom: 7.5px;
}


.demandlinescontainerexample {
    position: absolute;
    width: 60px;
    display: flex;
    flex-direction: column;
    border: .01px solid;
    border-color: rgba(250, 250, 250, .9);
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 3.5px;
    margin-left: 5px;
    margin-right: 5px;
    left: 50%;
    transform: translate(-50%, 0%);

}

.demandlinesex {
    position: relative;
    left: 2.5%;
    width: 95%;
    height: 4px;
    /*    background-color: #ebecf0;*/
    /*    background-image:       url("pics/paint.jpg"); */
    background-color: #E0E1E1;
    margin-bottom: 1px;
    border-radius: 2px;
    /*   border: .001px solid;*/
    border-color: none;

}


.blurry {
     filter: blur(8px);
  -webkit-filter: blur(8px);
}

#Exitbutton {
     font-family: 'Yantramanav', sans-serif;
    font-size: 20px;

}


#showinformation {
    position:fixed;
    top: calc(100vh - 25px);
    left: calc(100% - 25px);
    z-index: 5000;
    font-size: 20px;
}


