@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Teko:wght@300;400;500;600;700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

/* */
::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


/* Give the Body the Proper Background Color*/
body {
    background-color: #FEFFFF;
    /*
    background-image:
        linear-gradient(rgba(255, 255, 255, .97),
            rgba(255, 255, 255, .97)),
        url("../pics/paint.jpg");
*/

    background-image:
        linear-gradient(rgba(255, 255, 255, .3),
            rgba(255, 255, 255, .3)),
        url("../pics/cream_dust.png");

    position: relative;
    margin: 0;
    padding: 0;
}

/* Set the Title color weight and font for the header*/
header {
    padding-top: 0;
    /*    margin-top:25px;*/
/*    margin-bottom: 50px;*/
}

header p {
    text-align: justify;
    font-family: 'Yantramanav', sans-serif;
    font-size: 30px;
    line-height: 1em;
    margin: 0;
}


h1 {
    text-align: center;
    font-size: 50px;
    /*    color: rgba(90, 111, 135, 1);*/
    /*    opacity: .9;*/
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
}


.navbar-dark {
    border-bottom: white solid .5px;
    /*    opacity: .9;*/
       -webkit-backdrop-filter: blur(20px);
      backdrop-filter:blur(20px);

}

.navbar {
    /*    color:  rgba(90, 111, 135, 1);*/
    /*    color: rgb(104, 58, 32);*/
    color: white;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);

}

.bg-brown {
    background:
        linear-gradient(rgba(41, 23, 12, .80),
            rgba(41, 23, 12, .8)),
        url("../pics/cream_dust.png");
    border-bottom: none;
}

a:hover {
    text-decoration: none;
}

.text-right {
    text-align: right;
    font-family: 'Yantramanav', sans-serif;
    font-size;
    10px;
    font-weight: 300px;

}

.text-left {
    text-align: left;
    font-family: 'Yantramanav', sans-serif;
    font-size;
    10px;
    font-weight: 300px;

}


i.fa-white {
    color: rgba(255, 255, 255, .94);
}


.button-blue {
    /*    color:rgba(90, 111, 135, 1);*/
    border-color: rgba(90, 111, 135, 1)
}

.button-blue:hover {
    background-color: rgba(90, 111, 135, 1)
}

.white-back {
    background-color: rgba(41, 23, 12, .7);
    /*        background-color: rgba(90, 111, 135, 1);*/
    border-radius: 2px;
    border: rgba(41, 23, 12, .7);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    width: 100px;
    font-family: 'Yantramanav', sans-serif;
}

.white-back:hover {
    background-color: rgba(90, 111, 135, 1)
}

img {
    width: 100%;
}

footer {
    background-color:rgba(211, 145, 86,.4); 
    border-top: 3px black solid;
}

footer a {
    color: black;
}

footer a:hover {
    color: rgba(90, 111, 135, .85);
}


.box-shadow {
    box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 1);
    border-radius: 5px;
    border: 2px solid rgba(90, 111, 135, .90);

}

.card-body {
    text-align: center;
}

.absolute-top {
    position: absolute;
    top: 0;
    width: 100%;
}


li {
    text-align: justify;
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
}


/*Set everything in the main body*/

main {
    margin-top: 25px;
    margin-bottom: 0px;
}

main h1 {
    text-align: center;
    font-size: 45px;
    color: black;
    /*    opacity: .9;*/
    font-weight: 300;
    font-family: 'Amatic SC', cursive;
}

main p {
    text-align: justify;
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;

}

main span {
    text-align: center;
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
}

a {
    color: rgba(90, 111, 135, 1);
}

section::first-line::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

mark {
    border-radius: 3px;
    padding: 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

hr {
    margin: 0;
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding: 0;
}


.row {
    margin: 0;
}


.container-fluid {
    padding: 0;
    margin-bottom: 0
}




section {
    margin-top: 25px;

}

.callout2 {
    display: flex;
    align-items: center;
    justify-content: center;

        background:
        linear-gradient(rgba(41, 23, 12, .75),
            rgba(41, 23, 12, .75)),
        url("../pics/front-images/_L4C9647.jpg") no-repeat center center;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    margin: 0;
    min-height: 600px;


    background-attachment: fixed;
}


.font2 {
    margin-right: 5px;
    padding: 0;
    padding-left: 10px;
    text-align: center;
    font-size: 20px;
    color: rgba(90, 111, 135, 1);
    /*    opacity: .9;*/
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    color: white;
}


.font-white {
    color: white;
}

.card-text {
    font-family: 'Yantramanav', sans-serif;

}

.album {
    overflow: hidden;
}



.nav-link {
    color: rgba(90, 111, 135, 1);
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
}

.navcontainer {
    margin: 0;
    width: 100%;
    padding: 0;
}

.bg-voices {
    border: 0px;
    background:
        linear-gradient(rgba(41, 23, 12, .80),
            rgba(41, 23, 12, .8)),
        url("../pics/cream_dust.png");
    padding: 0;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}

.font-smaller {
    font-size: 18px;
}

.font1 {
    text-align: center;
    font-size: 30px;
    /*    color: rgba(90, 111, 135, 1);*/
    /*    opacity: .9;*/
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
}


#iframesearch {
    z-index: 5000000000;
}




/*Scrolly Telling Kit*/
.storyelement {
    margin-bottom: 100vh;
    z-index: 2000;
    /*    padding-bottom: 100px;*/
}

.storytextbox {
    padding: 20px;
    /*
    background-image:
        linear-gradient(rgba(90, 111, 135, .90),
            rgba(90, 111, 135, .90)),
        url("../pics/paint.jpg");
*/
    /*
     background-image:
           linear-gradient(rgba(90, 111, 135, .85),
          rgba(90, 111, 135, .85)),
                url("../pics/cream_dust.png");
*/
    /*
        background-image:
        linear-gradient(  rgba(0, 0, 0, .4),
                  rgba(0, 0, 0, .4)),
        url("../pics/paint.jpg");
*/


    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);


    border-radius: 10px;
    border: 2px solid rgba(90, 111, 135, .85);
    text-align: justify;
}

.storytext {
    /*    color: white;*/
    color: black font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
}

/*Data Vis Kit*/
.svg-content {
    width: 100%;
    overflow: visible;
}

.visualizationtext {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
}

/*Tool Tips*/
.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: #fcf5e3;
    padding: 10px;
    box-shadow: 1px 1px 1px #cccccc;
    border-radius: 3px;
    opacity: 0.9;
    border-radius: 7.5px;
    z-index: 1000;
    top: 55px;
}

.tooltiptext {
}


