@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Teko:wght@300;400;500;600;700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

/* */
::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


/* Give the Body the Proper Background Color*/
body {
        background-color: #FEFFFF;
    background-image:
        linear-gradient(rgba(255, 255, 255, .97),
            rgba(255, 255, 255, .97)),
                url("../pics/paint.jpg");
    position:relative;
    margin:0;
    padding: 0;
}

/* Set the Title color weight and font for the header*/
header {
    padding-top:0;
/*    margin-top:25px;*/
    margin-bottom: 50px;
}

header p {
    text-align:justify;
      font-family: 'Yantramanav', sans-serif;
   font-size: 30px;  
line-height: 1em;
margin:0;}

h1 {
  text-align: center;
    font-size:50px;
 color: rgba(90, 111, 135, 1);/*    opacity: .9;*/
    font-weight: 700;
    font-family: 'Amatic SC', cursive; 
}


header span {
    font-family: 'Yantramanav', sans-serif;
   font-size: 16px;  

    text-align:center;
    color: rgba(90, 111, 135, 1);
}

header a {
    color: rgba(90, 111, 135, 1);
}

.navbar-dark {
        border-bottom: white solid .5px;
/*    opacity: .9;*/

}

.navbar {
    color:  rgba(90, 111, 135, 1);
}

.bg-white {
   background-image:         linear-gradient(rgba(255, 255, 255, .97),
            rgba(255, 255, 255, .97)),
                url("../pics/paint.jpg")
    
}

/*Set everything in the main body*/


main h1 {
  text-align: center;
    font-size:45px;
    color: black;
/*    opacity: .9;*/
    font-weight: 300;
    font-family: 'Amatic SC', cursive; 
}

main p{
    text-align:justify;
      font-family: 'Yantramanav', sans-serif;
   font-size: 20px;  
    
}

main span {
    text-align: center;
   font-family: 'Yantramanav', sans-serif;
   font-size: 20px;   
}

a{
    color: rgba(90, 111, 135, 1);
}

section::first-line::first-letter {
  font-size: 200%;
  color: #8A2BE2;
}

mark {
    border-radius: 3px;
    padding: 1px;
}

hr {
    margin: 0;
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding:0;
}


.row {
    margin: 0;
}


/*Scrolly Telling Kit*/
.storyelement {
  margin-bottom: 100vh;
   z-index: 2000;
/*    padding-bottom: 100px;*/
}

.storytextbox {
    padding: 20px;
    background-image:
        linear-gradient(rgba(90, 111, 135, .94),
            rgba(90, 111, 135, .94)),
        url("../pics/paint.jpg");
    border-radius: 10px;
    text-align: center;
}

.storytext {
color: white;
font-family: 'Yantramanav', sans-serif;
font-size: 20px;
}

/*Data Vis Kit*/
.svg-content{
    width:100%;
    overflow:visible;
}

.visualizationtext {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
}

/*Tool Tips*/
.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: #fcf5e3;
    padding: 10px;
    box-shadow: 1px 1px 1px #cccccc;
    border-radius: 3px;
    opacity: 0.9;
    border-radius: 7.5px;
    z-index: 1000; 
}

.tooltiptext {
/*       font-family: 'Open Sans Condensed', sans-serif;*/
}


section {
    margin-top: 25px;
/*    margin-bottom: 25px;*/

}

main {
    margin-top: 25px;
    margin-bottom: 0px;
}

.callout {
       display: flex;
    align-items: center;
    justify-content: center;
     background:
        linear-gradient(rgba(41,23,12, .75),
            rgba(41,23,12, .75)),
                url("../pics/protest.jpg") no-repeat center center;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    margin:0;
/*    margin-top: 25px;*/
    height: 600px;
}


.callout2 {
       display: flex;
    align-items: center;
    justify-content: center;
     background:
        linear-gradient(rgba(41,23,12, .75),
            rgba(41,23,12, .75)),
                url("../pics/protest.jpg");
/*         no-repeat center center;*/
/*-webkit-background-size: cover;*/
/* -moz-background-size: cover;*/
/* -o-background-size: cover;*/
/* background-size: cover;*/
    margin:0;
/*    margin-top: 25px;*/
/*    height: 600px;*/
}




.container-fluid {
    padding:0;
}




.font2 {
    margin-right: 5px;
    padding: 0;
    padding-left: 10px;
      text-align: center;
    font-size:20px;
 color: rgba(90, 111, 135, 1);/*    opacity: .9;*/
    font-weight: 700;
    font-family: 'Amatic SC', cursive; 
    color: white;
}






.font-white {
    color:white;
}

.card-text {
          font-family: 'Yantramanav', sans-serif;

}

.album {
/*
    background-image:
        linear-gradient(rgba(90, 111, 135, .90),
          rgba(90, 111, 135, .90)),
                    url("../pics/paint.jpg");
*/
    border: rgba(90, 111, 135, .90) solid .1px;
    overflow: hidden;
}



.callout3{
       display: flex;
    align-items: center;
    justify-content: center;
     background:
           linear-gradient(rgba(90, 111, 135, .9),
          rgba(90, 111, 135, .9)),
                url("../pics/paint.jpg") no-repeat center center;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    margin:0;
    margin-top: 25px;
    padding:25px;
/*    height: 200px;*/
}


.nav-link {
        color: rgba(90, 111, 135, 1);
        font-family: 'Yantramanav', sans-serif;
        font-size: 20px;
}

.navcontainer {
    margin:0;
    width: 100%;
    padding:0;
}

.bg-voices {
    background:
           linear-gradient(rgba(90, 111, 135, .9),
          rgba(90, 111, 135, .9)),
                url("../pics/paint.jpg");
/*
     background:
           linear-gradient(rgba(41,23,12, .8),
          rgba(41,23,12, .8)),
                url("../pics/paint.jpg");
*/
/*    background-color:rgb(104, 58, 32)*/
    padding:0;
    padding-right: 10px;
}

.font-smaller {
    font-size:18px;
}

.font1 {
      text-align: center;
    font-size:35px;
 color: rgba(90, 111, 135, 1);/*    opacity: .9;*/
    font-weight: 700;
    font-family: 'Amatic SC', cursive; 
}
}



a:hover {
        text-decoration:none;
}

.text-right {
    text-align: right;
          font-family: 'Yantramanav', sans-serif;
    font-size; 10px;
    font-weight: 300px;

}

strong {
    color: rgb(104, 58, 32);
}

i.fa-white {
        color: rgba(255, 255, 255, .94);
}


.button-blue {
/*    color:rgba(90, 111, 135, 1);*/
        border-color: rgba(90, 111, 135, 1)
}

.button-blue:hover {
    background-color:   rgba(90, 111, 135, 1)
   
}
