.pic-header {
    position: relative;
    /*    margin-top: 25px;*/
    /*    height: 600px;*/
    margin: 0px;
    padding: 0px;
    display: grid;
/*    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));*/
    grid-template-columns: repeat(auto-fill, minmax(6%, 1fr));
    grid-auto-flow: dense;
    background: rgba(211, 145, 86, .4);
/*    max-height: 150vw;*/
    overflow: hidden;
/*        grid-gap: 1px;*/

}

/*
@media screen and (min-width: 576px) {
    .pic-header {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

@media screen and (min-width: 768px) {
       .pic-header {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media screen and (min-width: 992px) {
    .pic-header {
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    }
}

@media screen and  (min-width: 1200px) {
    .pic-header {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
*/



.square {
    position: relative;
    /*    width: 100%;*/
    /*        min-width: 200px;*/
    /*    border: red 1px solid;*/
    grid-row: span 3;
    grid-column: span 2;
    max-height: 100%;
    border-radius: 1px;
    /*    border: red solid 1px;*/
    /*   background: rgba(0, 145, 86,.1);*/
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 66.67%;
}

.square-2 {
    position: relative;

    grid-row: span 6;
    grid-column: span 4;
}

.square-3 {
    position: relative;

    grid-row: span 9;
    grid-column: span 6;
}

/*
.square-3:after {
    content: "";
    display: block;
    padding-bottom: 50%;
}
*/

.image-box {
    position: relative;
    width: 100%;
    top: 0%;
    height: 100%;
    overflow: hidden;
    /*    border: rgba(0, 0, 0, .8) solid .1px;*/
    background-attachment: fixed;
    background-size: contain;
    background: rgba(211, 145, 86, .1);
    overflow: hidden;

}

.slide img {
    position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
    /*    max-height: 100%;*/
    /*    z-index: -1;*/
}


.overlay {
    background: linear-gradient(rgba(41, 23, 12, .2), rgba(41, 23, 12, .2));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}



.header-text {
    position: absolute;
    left: 50%;
    top: calc(50% + 70px);
    transform: translate(-50%, -50%);
    width: 100%;
    /*    font-size:30px; */
    z-index: 10;
}

.header-p {
    font-size: 3.2vw;
    font-weight: 700;
    text-align: center;
    color: white
}

@media screen and (max-width: 850px) {
    .header-p {
        font-size: 30px;
    }
}

.blur-back {
        -webkit-backdrop-filter: blur(20px);
      backdrop-filter:blur(20px);
    padding: 40px;
    border-radius: 20px;
}






.carousel-control-prev {
    z-index: 100
}

.carousel-control-next {
        z-index: 100

}










.slides-container {
  position: relative;
  overflow: hidden;  
  display: flex;
  flex: 1;
height: 66.6vw;
}

.slide {
  position: absolute;
  font-size: 90px;
  font-weight: 700;
  color: rgba(255,255,255,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100% / 3);
  width: 100%;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slides-inner {
  position: relative;
  height: 100%;
  width: 100%;  
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
.slide {
   -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
}


.img1 {
   background:
        linear-gradient(rgba(41, 23, 12, .75),
            rgba(41, 23, 12, .75)),
        url("../pics/wheel/1.jpg") no-repeat;
        background-attachment: fixed;

}

.img2 {
   background:
        linear-gradient(rgba(41, 23, 12, .75),
            rgba(41, 23, 12, .75)),
        url("../pics/wheel/2.jpg") no-repeat;
        background-attachment: fixed;

}

.img3 {
   background:
        linear-gradient(rgba(41, 23, 12, .75),
            rgba(41, 23, 12, .75)),
        url("../pics/wheel/3.jpg") no-repeat;
        background-attachment: fixed;

}



.img4 {
   background:
        linear-gradient(rgba(41, 23, 12, .75),
            rgba(41, 23, 12, .75)),
        url("../pics/wheel/4.jpg") no-repeat;
        background-attachment: fixed;

}



.img5 {
   background:
        linear-gradient(rgba(41, 23, 12, .75),
            rgba(41, 23, 12, .75)),
        url("../pics/wheel/5.jpg") no-repeat;
        background-attachment: fixed;

}





.img6 {
   background:
        linear-gradient(rgba(41, 23, 12, .75),
            rgba(41, 23, 12, .75)),
        url("../pics/wheel/6.jpg") no-repeat;
        background-attachment: fixed;

}


.img7 {
   background:
        linear-gradient(rgba(41, 23, 12, .75),
            rgba(41, 23, 12, .75)),
        url("../pics/wheel/7.jpg") no-repeat;
        background-attachment: fixed;

}


.img8 {
   background:
        linear-gradient(rgba(41, 23, 12, .75),
            rgba(41, 23, 12, .75)),
        url("../pics/wheel/8.jpg") no-repeat;
        background-attachment: fixed;

}


#headertext {
  opacity: 0;
    visibility: visible;
}
