@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Teko:wght@300;400;500;600;700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


.container-fluid {
    padding: 0;
    margin: 0;
/*    height: 100vh;*/
}

/*Nav Bar Options*/
nav {
    z-index: 10;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    border-radius: 2px;

}

.form-control {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, .97);
    font-family: 'Yantramanav', sans-serif;
    font-size: 18px;
    vertical-align:middle;
    text-align: center;
    border-color: rgba(255, 255, 255, 0);
    opacity:.85;
/*    transform: translate(0, 50%);*/
}

.form-group {
    margin: 0;
    position: relative
}

.tagfilter {
    /*    position: absolute;*/
    /*    margin-top: 20px;*/
    /*    margin-left: 10px;*/
    /*    margin-right: 10px;*/
    padding: 0px;
    margin: 0px;
    width: 217px;
    height: 40px;
    /*    transform: translate(0, 50%);*/
}

/*
.tagoption {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    text-align: left;
}
*/

.yearjump {
    padding: 0px;
    margin: 0px;
    width: auto;
    height: 40px;
}



/*Overall Project*/
.project {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.box {
/*
    background-image:
        linear-gradient(rgba(255, 255, 255, .97),
            rgba(255, 255, 255, .97)),
        url("../pics/paint.jpg");
*/
     background-image:
        linear-gradient(rgba(255, 255, 255, .5),
            rgba(255, 255, 255, .5)),
        url("../pics/cream_dust.png");
/*    position:relative;*/
}


.timelinecontainer {
    margin: 0 0rem;
    z-index: 0;
    background-color: none;
    /*    height: 50vh;*/
    overflow-y: hidden;
}

.years {
    padding-top: 20px;
    margin: 0 0rem;
    background-color: none;
    height: 65vh;
/*    height:  calc(var(--vh, 1vh) * 55);*/

}

.yeartextcolumn {
    border-right: 2px solid;
    border-color: black;
    width: 60px;
    padding: 0;
}

.yeartextbox h3 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    margin: 0;
    margin-right: 5px;
    font-weight: 700;
    font-size: 48px;
    font-family: 'Amatic SC', cursive;
    
}

.demandboxcontainer {
    display: flex;
    flex-direction: row;
}

.demandbox {
    width: 325px;
    padding-left: 15px;
    overflow-x: hidden;
    position: relative;
    /*    height: 60vh;*/

}

.secondbox {
    border-left: .5px dashed;
    padding-left: 20px;
}

.demandbox i {
    position: absolute;
    top: .75%;
    left: 91%;
}

i.fas {
    color: rgba(90, 111, 135, 1)
/*    color: black;*/
}

i.fa-white {
    color: white
}

.documenttitlebox {
    padding: 0;
    width: 90%;
    height: 150px;
    overflow-x: hidden
}

.documenttitlebox h3 {
    font-size: 23px;
    margin: 0;
    font-weight: 600;
    font-family: 'Yantramanav', sans-serif;
}

.documenttitlebox hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
}


.documenttitlebox h4 {
    font-size: 15px;
    margin: 0;
    font-weight: 300;
    font-family: 'Yantramanav', sans-serif;
}


.demandpagescontainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.demandlinescontainer {
    width: 22%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: .01px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 3.5px;
    margin: 5px;
}

.demandlines {
    position: relative;
    left: 2.5%;
    width: 95%;
    height: 4px;
    background-color: #E0E1E1;
    margin-bottom: 1px;
    border-radius: 2px;
    /*   border: .001px solid;*/
    border-color: none;
}

/* Events Container */
.eventscontainer {
    height: calc(35vh - 44px);
/*    height:  calc(var(--vh, 1vh) * 45 - 44px);*/

    position: relative;
    z-index: 100;


}


/* Timeline */

#timeline {
    position: absolute;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    bottom: 0px;
    transform: translate(0, 50%);
        box-shadow: 1px 1px 1px #cccccc;


}

.timepoints {
    position: absolute;
    padding: 6px;
    background-color: black;
    border: solid 2px rgba(255, 255, 255, .97);
    /*    left: 20px;*/


}

.timepointer {
    position: absolute;
    background-color: black;
    padding: 1px;
            box-shadow: 0px 0px 0px #cccccc;

    /*   height:  100px;*/

}

.eventtext {
    position: absolute;
    text-align: justify;
    color: black;
    font-family: 'Yantramanav', sans-serif;
    font-size: 5px;
    max-width: 100px;
    opacity: .5;
    transform: translate(-50%, -5px);
/*    transition: 0.1s;*/
    line-height: 1em;
/*    z-index: 100;*/
        -webkit-transition: .1s all;   
    -webkit-transition-delay: .1s; 
    -moz-transition: .1s all;   
    -moz-transition-delay: .1s; 
    -ms-transition: .1s all;   
    -ms-transition-delay: .1s; 
    -o-transition: .1s all;   
    -o-transition-delay: .1s; 
    transition: .1s all;   
    transition-delay: .1s; 
  text-shadow: 1px 1px #cccccc;
/*            box-shadow: 1px 1px 1px #cccccc;*/



}

.eventtext:hover {
    /*    position: fixed;*/
    font-size: 10px;
    max-width: 150px;
    z-index: 5000;
    opacity: 0;
    transform: translate(-50%, -5px);
}

@media screen and (max-width: 576px) {

    .eventtext:hover {
        left: 50vw;
        font-size: 10px;
        max-width: 90vw;
        z-index: 5000;
        opacity: 0;
        transform: translate(-50%, -5px);
        overflow: scroll;
    }

}

.imageyearbox {
   position: absolute;
   display: flex;
   flex-direction: row;
}

.eventimage {
    position:relative;
    max-width: 100%;
        max-height: 100%;
    border-radius: 10px;
        box-shadow: 1px 1px 1px #cccccc;

}

.eventimagebox {
    position:relative;
    text-align: justify;
    color: black;
    font-family: 'Yantramanav', sans-serif;
    font-size: 5px;
    max-width: 50px;
    opacity: .7;
/*    transform: translate(-50%, -5px);*/
    transition: 0.1s;   
     transition-delay: .1s; 
/*    z-index: 200;*/
/*
        -webkit-transition: .5s all;   
    -webkit-transition-delay: 5s; 
    -moz-transition: .5s all;   
    -moz-transition-delay: 5s; 
    -ms-transition: .5s all;   
    -ms-transition-delay: 5s; 
    -o-transition: .5s all;   
    -o-transition-delay: 5s; 
    transition: .5s all;   
   
*/

}

.eventimagebox:hover {
/*        position: fixed;*/
/*    position: absolute;*/
/*    font-size: 20px;*/
    max-width: 75px;
    z-index: 5000;
    opacity: 0;
/*    transform: translate(-50%, -5px);*/
        cursor: pointer;
}

@media screen and (max-width: 576px) {
    .eventimagebox:hover {
/*        left: 50vw;*/
/*        font-size: 20px;*/
/*        max-width: 90vw;*/
        z-index: 5000;
        opacity: 0;
/*        transform: translate(-50%, -5px);*/
        overflow: scroll;
    }

}



/*Interaction Functions*/
#tooltip {
    position: fixed;
    top: 50px;
    left: 50%;
    /*  max-height: 100px;*/
    overflow-y: scroll;
    visibility: hidden;
    font-size: 16px;
    /*    background-color: #d6ecef;*/
/*    background-color: #fcf5e3;*/
/*    background-color: rgba(252, 245, 227, .7);*/
    background-color:rgba(211, 145, 86,.2);
    padding: 10px;
    box-shadow: 1px 1px 1px #cccccc;
    border-radius: 3px;
    text-align: justify;
    opacity: 0.9;
    border-radius: 7.5px;
    z-index: 1000;
    transform: translate(-50%, 0%);
          -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

#demandtext {

    font-size: 17px;
    font-weight: 300;
    font-family: 'Yantramanav', sans-serif;
    line-height: 1em;

}

#demandtags {
    font-weight: 600;
}


#eventtooltip {
    position: absolute;
    top: 10px;
        left: 50vw;
    width: 500px;
    /*  max-height: 100px;*/
    background-color: rgba(255, 255, 255, .3);
    overflow-y: scroll;
    visibility: hidden;
    font-size: 20px;
    padding: 10px;
    text-align: justify;
    opacity: 0.9;
    border-radius: 7.5px;
    z-index: 1000;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
    border-radius: 10px;

}

#imagetooltip {
    position: absolute;
    top: 45px;
        left: 50vw;
    width: 500px;
    max-height: 80vh;
/*    max-height: calc(var(--vh, 1vh) * 80);*/
    /*  max-height: 100px;*/
    overflow-y: scroll;
    visibility: hidden;
    font-size: 20px;
    padding: 10px;
    text-align: justify;
    opacity: 0.9;
      -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
        border-radius: 7.5px;
    z-index: 1000;
}


@media screen and (max-width: 576px) {
#eventtooltip {
    width: 400px;
    } 
    
    #imagetooltip {
    width: 350px;
    } 
}


/*Forward/ Backward buttons */
#button-group {
    position: fixed;
    right:  10px;
    bottom: 10px;
    z-index: 1000;
    font-family: 'Yantramanav', sans-serif;
}

.btn-outline-secondary {
    width: 40px;
}

/*Instructions Pane*/
.instructions {
    position:fixed;
/*
    background:
           linear-gradient(rgba(90, 111, 135, .85),
          rgba(90, 111, 135, .85)),
                url("../pics/cream_dust.png");
*/
    background: rgba(211, 145, 86, .2);
    height: 90vh;
/*    height:   height: calc(var(--vh, 1vh) * 90);*/
    z-index: 2000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;   
    overflow-y: scroll;
    visibility:hidden;
    text-align: center;
    padding: 20px;
    border: 2px solid rgba(90, 111, 135, .85);
/*    width: 90%;*/
      backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);

}

.instructions h1{   
/* color: rgba(255, 255, 255, .97);*/
}

.instructions p{
    text-align:justify;
      font-family: 'Yantramanav', sans-serif;
   font-size: 20px;  
/*    color: rgba(255, 255, 255, .97);*/
}

.open {
  visibility: visible;
}

.demandexamplecontainer {
    width: 100%;
  height: 60px;
    margin: 0px;
    margin-bottom: 7.5px;
}


.demandlinescontainerexample {
    position: absolute;
    width: 60px;
    display: flex;
    flex-direction: column;
    border: .01px solid;
    border: .01px solid rgba(0, 0, 0, .3);
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 3.5px;
    margin-left: 5px;
    margin-right: 5px;
    left: 50%;
    transform: translate(-50%, 0%);

}

.demandlinesex {
    position: relative;
    left: 2.5%;
    width: 95%;
    height: 4px;
    /*    background-color: #ebecf0;*/
    /*    background-image:       url("pics/paint.jpg"); */
    background-color: #E0E1E1;
    margin-bottom: 1px;
    border-radius: 2px;
    /*   border: .001px solid;*/
    border-color: none;

}


.blurry {
     filter: blur(4px);
  -webkit-filter: blur(4px);
}

#Exitbutton {
     font-family: 'Yantramanav', sans-serif;
    font-size: 20px;

}

#showinformation {
    position:fixed;
    bottom: calc(10px);
/*    top:  calc(var(--vh, 1vh) * 100 - 25px);*/
    left: calc(10px);
/*    left:  calc(var(--vh, 1vh) * 100 - 25px);*/
    z-index: 5000;
    font-size: 20px;
}

.pointer {
    cursor: pointer
}











/*Fixing the smaller screen issue*/

@media screen and (max-width: 350px) {

    .tagfilter {
    /*    position: absolute;*/
    /*    margin-top: 20px;*/
    /*    margin-left: 10px;*/
    /*    margin-right: 10px;*/
    padding: 0px;
    margin: 0px;
/*    width: 90%;*/
    height: 40px;
    /*    transform: translate(0, 50%);*/
}
    

    
    .font2 {
        text-align: inline;
        margin: 0px;
        padding:0px;
    font-size:10px;
    }

}

#note {
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    top: 50%;
    z-index: 5000;
background-color: rgba(252, 245, 227, .7);
    -webkit-backdrop-filter: blur(10px);
        backdrop-filter:blur(10px);
    visibility: hidden

}

@media screen and (max-width: 480px){
    #instructions {
        visibility: hidden;
    }
    
    #showinformation {
        visibility:hidden
    }
    
    .blurry {
     filter: blur(0px);
  -webkit-filter: blur(0px);
}
    #button-group{
        visibility:hidden
    }
    
    #eventscontainer {
        visibility: hidden;
    height: calc(1vh);
/*    height:  calc(var(--vh, 1vh) * 2 - 44px);*/
    }
    
.years{
    height: 90vh;
/*    height:  calc(var(--vh, 1vh) * 96);*/
    max-height: 700px;
    }
    
    .project {
        overflow-x: scroll;
    }
    
    
    #note {
        visibility: visible;
    }

    .tagfilter{
        width:120px;
    }
    
}




.form-inline {
/*    max-width:50%*/
}
