
body {
    /*    background-color: #FEFFFF;*/
    background-image:
        linear-gradient(rgba(255, 255, 255, .96),
            rgba(255, 255, 255, .96)),
        url("pics/paint.jpg");
    position:relative;
}


 .demandanalysis {
    padding-top: 10px;
    text-align: center;
    font-size:50px;
    color: rgba(90, 111, 135, 1);
/*    opacity: .9;*/
    font-weight: 700;
    font-family: 'Amatic SC', cursive; 
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

.row {
    
    position:relative;
}
.chartcontainer {
    background-image:
        linear-gradient(rgba(255, 255, 255, .96),
            rgba(255, 255, 255, .96)),
        url("pics/paint.jpg");
    height: 100vh;
    position:relative;
    
}
.chordscontainer{
    position:relative;
    
}


.storytext {
padding: 20px;
background-image:
        linear-gradient(rgba(90, 111, 135, .94),
            rgba(90, 111, 135, .94)),
        url("../pics/paint.jpg");
    
    

border-radius: 10px;
border: dashed rgba(90, 111, 135, .94) .5px;
margin-top

    

}





.spacer {
    padding: 200px;
    
}

.storyelement {
  margin-bottom: 100vh;
   z-index: 2000;
    
}



.vispad {
    height: 25vh;
}
